<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Add Fitness Location</title>

    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico"/>

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Pacifico&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <!--Stylesheet-->
    <link rel="stylesheet" href="../static/styles.css" />

    <!--FontAwesome-->
    <script
      src="https://kit.fontawesome.com/7d3131a49e.js"
      crossorigin="anonymous"
    ></script>
  </head>
    <body style="color:#40513B;">

      <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #40513B">
      <a class="navbar-brand">Admin Page</a>
      <ul class="navbar-nav ms-auto"> 
      <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a>
      </li>
    </ul> 
    </nav>

    
    <div class="row" style="padding: 0;">
    <h3 class="col-lg-6 green-section al-description" style="color: #EDF1D6;">Click on any area of the map to add a Fitness Area .</h3>
      <h3 class="col-lg-6 al-description">Click on an existing Fitness Area to edit/delete it.</h3>
  </div>
    </body> 
    <style>
      #map {
        height: 800px;
        width: 100%;
      }
      #descriptionInput {
        height: 80px;
        width: 98%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHFCLcZvBCRrkFPKDLtMUq_ijnTQ1aRXE"></script> <!--insert your google API key here-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 1.290270, lng: 103.851959 },
          zoom: 14,
        });
      
        fetch("/api/areas")
          .then((response) => response.json())
          .then((data) => {
            data.forEach((location) => {
              const marker = new google.maps.Marker({
                position: { lat: location.latitude, lng: location.longitude },
                map,
                title: location.name,
                icon: {
                  url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
                },
              });
              const infowindow = new google.maps.InfoWindow({
                content: `<strong>${location.name}</strong><br>Points: ${location.points}`,
              });
              const editwindow = new google.maps.InfoWindow({
              content: `
                <strong>${location.name}</strong><br>
                <form class="al-form">
                  <label class="al-form-label" for="points-input">Points:</label>
                  <input class="al-form-input" id="points-input" type="number" value="${location.points}">
                  <br><br>
                  <button class="al-form-btn" id="edit-btn" type="submit">Edit</button>
                </form>
                <button class="al-form-btn" id="delete-btn">Delete</button>
              `,
              });
              marker.addListener("mouseover", () => {
                infowindow.open(map, marker);
              });
              marker.addListener("mouseout", () => {
                infowindow.close();
              });
              marker.addListener('click', () => {
                editwindow.open(map, marker);
                // Listen for the edit button click
                const editBtn = document.getElementById("edit-btn");
                $(document).on("click", "#edit-btn", (e) => {
                  e.preventDefault();
                  const pointsInput = document.getElementById("points-input");
                  const newPoints = parseInt(pointsInput.value, 10);

                  if (newPoints <= 0) {
                    alert("Error: Points value must be greater than 0");
                    return;
                  }

                  // Update the location.points value and update the InfoWindow content
                  location.points = newPoints;
                  const name = location.name
                  $.ajax({
                    type: "POST",
                    url: "/handle_edit",
                    data: JSON.stringify({
                      points: newPoints,
                      name: location.name,
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                      infowindow.close(); 
                      console.log(response);
                      alert("Points altered successfully!");
                      location.reload();
                    },
                    error: function (error) {
                      console.log(error);
                    },
                  });
                  editwindow.close();
                  infowindow.setContent(`<strong>${location.name}</strong><br>Points: ${location.points}`);
                });
                $(document).on("click", "#delete-btn", (e) => {
                  e.preventDefault();
                  const name = location.name
                  $.ajax({
                    type: "POST",
                    url: "/handle_delete",
                    data: JSON.stringify({
                      name: location.name,
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                      infowindow.close(); 
                      console.log(response);
                      alert("Area deleted successfully!");
                      marker.setMap(null)
                    },
                    error: function (error) {
                      console.log(error);
                    },
                  });
                  editwindow.close();
                });
              });
            });
          })
          .catch((error) => {
            console.log("Fetch error: ", error);
          });
      
        google.maps.event.addListener(map, "click", function (event) {
          console.log("event location = ", event.latitude);
          var marker = new google.maps.Marker({
            position: event.latLng,
            map: map,
          });
      
          var lat = event.latLng.lat();
          var lng = event.latLng.lng();
          var contentString =
            "<b>Clicked Location</b><br/>" + "Latitude: " + lat + "<br/>Longitude: " + lng;
          var infowindow = new google.maps.InfoWindow({
            content: contentString,
          });
          infowindow.open(map, marker);
      
          var form =
            '<form class="al-form" id="nameForm">' +
            '<label class="al-form-label" for="nameInput">Fitness location name: </label>' +
            '<input class="al-form-input" type="text" id="nameInput" name="nameInput">' +
            '<br/>' +
            '<label class="al-form-label" for="pointsInput">Points:  </label>' +
            '<input class="al-form-input" type="number" id="pointsInput" name="pointsInput">' +
            '<br/>' +
            '<label class="al-form-label" for="categoryInput">Category: </label>' +
            '<select id="categoryInput" name="categoryInput">' +
            '<option value="Nature Reserves">Nature Reserves</option>' +
            '<option value="Parks">Parks</option>' +
            '<option value="Wildlife Reserves">Wildlife Reserves</option>' +
            '</select>' +
            '<br/>' +
            '<label class="al-form-label" for="descriptionInput">Description: </label>' +
            '<textarea class="al-form-input" id="descriptionInput" name="descriptionInput"></textarea>' +
            '<br/>' +
            '<input class="al-form-btn" type="button" id="submitButton" value="Submit">' +
            '</form>';
          infowindow.setContent(contentString + form);
      
          $(document).on("click", "#submitButton", function () {
            var points = $("#pointsInput").val();
            if (points <= 0) {
              alert("Error: Points value must be greater than 0");
              return;
            }
            var name = $("#nameInput").val();
            var cat = $('#categoryInput').val();
            var desc = $("#descriptionInput").val();
            $.ajax({
              type: "POST",
              url: "/handle_click",
              data: JSON.stringify({
                name: name,
                latitude: lat,
                longitude: lng,
                points: points,
                category: cat,
                description: desc
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (response) {
                infowindow.close(); 
                console.log(response);
                alert("Location added successfully!");
                location.reload();
              },
              error: function (error) {
                console.log(error);
              },
            });
            infowindow.close(); 
          });
      
          google.maps.event.addListener(infowindow, "closeclick", function () {
            marker.setMap(null);
          });
        });
      }
      
      
    </script>
  </head>
  <body onload="initMap()" style="color: #40513B;">
    <div id="map">
    </div>

      <!--Footer-->
	<footer class="light-section footer-section">
		<p class="footer-description">© Copyright Ecoventure</p>
	</footer>
  </body>
</html>