<!DOCTYPE html>
<html>
<head>
    <title>EcoVenture</title>

     <!--Favicon-->
     <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico"/>

    <!--Google Fonts-->
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
     href="https://fonts.googleapis.com/css2?family=Itim&family=Pacifico&family=Rubik:wght@300;400&display=swap"
     rel="stylesheet"
   />
     <!--Bootstrap-->
     <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
     crossorigin="anonymous"
   />
   <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
     crossorigin="anonymous"
   ></script>
 <!--Stylesheet-->
   <link rel="stylesheet" href="../static/styles.css" />
   <!--Favicon-->
   <script src="https://kit.fontawesome.com/7d3131a49e.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="homepage">


    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/#">EcoVenture</a>

        <ul class="navbar-nav ms-auto"> 

        <li class="nav-item">
            <a class="nav-link" href="/createAccount"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        </li>
      </ul> 
    </nav>

    <div class="container homepage-title-section">
        <h1 class="homepage-title">Welcome to EcoVenture</h1>
        <p class="homepage-description">Your guide to fitness in nature. We are designed to help you discover outdoor fitness areas near you, from nature reserves to parks to wildlife reserves. With Ecoventure, you can easily find and explore natural environments that inspire you to get moving and stay active.</p>
   </div> 

    <div class="colored-section">
        <div class="feature-section row">
            <div class="col-lg-6">
                <image class="feature-img" src="../static/images/wsig-feature-img.jpeg"/>
            </div>
            <div class="col-lg-6">
                <h1 class="feature-title">Where Should I Go?</h1>
                <p class="feature-description">Get personalized recommendations for outdoor fitness areas near you with Ecoventure's "Where Should I Go?" feature. Choose from three categories - nature reserves, parks, and wildlife reserves - to find the perfect fit for your workout style and fitness level.</p>
            </div>
        </div>
         </div>
    <div>

        <div class="feature-section row">
            <div class="col-lg-6">
                <h1 class="feature-title">Plan your route to our Fitness Areas</h1>
                <p class="feature-description">With Ecoventure's "Route Planning" feature, getting to your favorite outdoor Fitness Areas has never been easier. Simply choose the fitness area you want to visit, and our app will provide you with a personalized route from your current location. Plus, we take into account the current weather conditions to ensure that your journey is safe and comfortable, no matter the forecast. Whether you're walking, cycling, or driving, Ecoventure will help you get there efficiently and with peace of mind.</p>
            </div>
            <div class="col-lg-6">
                <image class="feature-img" src="../static/images/route-planning-feature-img.png"/>
            </div>
            
        </div>
         </div>

    
         <div class="colored-section cta-section">
            <h2 class="cta-title">Sign up for EcoVenture today!</h1>
            <a href="/createAccount"><button class="btn-big">Create an EcoVenture Account</button></a>
            <p>Already have an account? <a href="/login">Log in</a></p>
         </div>

         <footer class="light-section footer-section">
            <p class="footer-description">© Copyright Ecoventure</p>
         </footer>

    </div>
</div>
</body>
</html>
