<!DOCTYPE html>
<html>
<head>
  <title>Location</title>
</head>
<body>
  <h1>Your location:</h1>
  <p>IP address: {{ ip }}</p>
  <button onclick="getLocation()">Get Location</button>
  <p id="demo"></p>

  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        document.getElementById("demo").innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function showPosition(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      document.getElementById("demo").innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude;
    }
  </script>
</body>
</html>
