<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Home</title>
    <style>
      .username {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="username">
      Welcome, {{ username }}!
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My Website</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/user">Home</a></li>
                    <li><a href="/check_in">Check in</a></li>
                    <li><a href="/whereshouldigo">Where Should I Go</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>WhereShouldIGo</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Category</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            <form method="POST" action="/route1">
                <input type="hidden" name="item_id" value="{{items[0].id}}">
                <tr>
                    <td>{{ items[0].category }}</td>
                    <td>{{ items[0].image }}</td>
                    <td>{{ items[0].description }}</td>
                    <td>    
                        <button type="submit" name="submit_button" value="button1">Choose</button>
                    </td>
                </tr>
            </form>
            
            <form method="POST" action="/route1">
                <input type="hidden" name="item_id" value="{{items[1].id}}">
                <tr>
                    <td>{{ items[1].category }}</td>
                    <td>{{ items[1].image }}</td>
                    <td>{{ items[1].description }}</td>
                    <td>    
                        <button type="submit" name="submit_button" value="button2">Choose</button>
                    </td>
                </tr>
            </form>
            
            <form method="POST" action="/route1">
                <input type="hidden" name="item_id" value="{{items[2].id}}">
                <tr>
                    <td>{{ items[2].category }}</td>
                    <td>{{ items[2].image }}</td>
                    <td>{{ items[2].description }}</td>
                    <td>    
                        <button type="submit" name="submit_button" value="button3">Choose</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
</html>